{% extends 'cat_hotel/components/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'cat_hotel/cat_hotel.css' %}">

<div class="container">
    <div class="card p-4 mt-5">
        <div class="row g-3">
            <div class="col-12 mb-4">
                <h4>ห้อง 101</h4>
                <span class="text-muted">DELUXE ROOM <br>(ขนาดห้อง 1.7 x 1.4 x 2.6 หรือ 2.0 x 1.2 x 2.6 ม.)300 บาท / วัน / น้องแมว 1-3 ตัว</span>
            </div>
            <div class="col-lg-6 col-md-12">
                <p>วันที่เข้าฝาก</p>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="DEPARTING">
                    <label>วันที่เข้าฝาก</label>    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <p>เวลาที่เข้าฝาก</p>
                <div class="form-floating">
                    <input type="time" class="form-control" placeholder="DEPARTING">
                    <label>เวลาที่เข้าฝาก</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <p>ถึงวันที่</p>
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="DEPARTING">
                    <label>ถึงวันที่</label>    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <p>ถึงเวลา</p>
                <div class="form-floating">
                    <input type="time" class="form-control" placeholder="DEPARTING">
                    <label>ถึงวันที่</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                    <select class="form-select">
                        <option selected="" hidden=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <label>จำนวนแมว</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="DEPARTING">
                    <label>เบอร์ติดต่อ</label>    
                </div>
            </div>
            <div class="col-12 mt-4">
                <a class="btn btn-danger text-uppercase" href="{% url 'completed' %}" >ยกเลิก</a>
                <a class="btn btn-warning text-uppercase " href="{% url 'completed' %}" >ยืนยันการแก้ไข<i class="fa fa-plane ms-3"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}